@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shad {
    box-shadow: rgb(82, 86, 90) 4px 2px 5px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
    z-index: 1000;
    transform: translateX(0);
    transition: all 0.5s;
    animation: opening 0.6s ease-out;
  }
  /* .hiddenForm {
    transform: translateX(100%);
  } */
  .cols4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
}

@keyframes opening {
  from {
    transform: translatey(100%);
  }
  to {
    transform: translatey(0);
  }
}
